<h3>{{Titulo}} <small>{{TituloAccionABM[AccionABM]}}</small></h3>
<div>
  <div class= "container">
  <button type="button" class="btn btn-primary" (click)="Alta()" *ngIf="AccionABM == 'L'">
            <span class="fas fa-plus"> </span> 
            Agregar
  </button>
  </div>
  <br>
  <div class= "container">
  <table class="table table-bordered table-striped" *ngIf="AccionABM == 'L'">
    <thead>
      <tr>
        <th class="text-center">EquipoNombre</th>
        <th class="text-center">EquipoRanking</th>
        <th class="text-center">IdEquipo</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Items">
        <td>{{item.EquipoNombre | uppercase}}</td>
        <td>{{item.EquipoRanking}}</td>
        <td>{{item.IdEquipo}}</td>
        <td class="text-center text-nowrap">
          <button type="button" class = "btn btn-sm btn-outline-primary" title="Editar" (click)="Editar(item)">
            <span class="fas fa-pencil-alt"></span>
          </button> 
        	<button type="button" class="btn btn-sm btn-outline-danger"
                    title="Eliminar" (click)="Eliminar(item)">
                    <span class="fas fa-times"></span>
                </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Registro en Alta,Modificacion y Consulta -->
<form name="FormRegEq" [formGroup]='FormRegEq' *ngIf="AccionABM != 'L'" class="bg-light">

	<fieldset>
		
        <!--campo EquipoNombre-->
		<div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="EquipoNombre">
              Equipo Nombre <span class="text-danger">*</span>
            </label>
            <div class="col-sm-6">
				<input class="form-control"
          name="EquipoNombre" formControlName="EquipoNombre"
          [ngClass]="{'is-invalid': (FormRegEq.controls.EquipoNombre.touched || submitted)
           && FormRegEq.controls.EquipoNombre.errors}" />

        <span class="text-danger" *ngIf="(FormRegEq.controls.EquipoNombre.touched || submitted) 
                        && FormRegEq.controls.EquipoNombre.errors?.required">
                    Dato requerido.
        </span>
                <span class="text-danger" *ngIf="(FormRegEq.controls.EquipoNombre.touched || submitted) 
                       && (FormRegEq.controls.EquipoNombre.errors?.minlength || FormRegEq.controls.EquipoNombre.errors?.maxlength) ">
                    Dato texto, 4 a 10 caracteres.
                </span>
			</div>
		</div>

    <!--campo EquipoRanking-->
		<div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="EquipoRanking">EquipoRanking <span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" formControlName="EquipoRanking"
        [ngClass]="{'is-invalid': (FormRegEq.controls.EquipoRanking.touched || submitted)
           && FormRegEq.controls.EquipoRanking.errors}"/>
           <span class="text-danger" *ngIf="(FormRegEq.controls.EquipoRanking.touched || submitted) 
                        && FormRegEq.controls.EquipoRanking.errors?.required">
                    Dato requerido.
        </span>
                <span class="text-danger" *ngIf="(FormRegEq.controls.EquipoRanking.touched || submitted) 
                       && (FormRegEq.controls.EquipoRanking.errors?.min || FormRegEq.controls.EquipoRanking.errors?.max) ">
                    Dato texto, 0 a 999.
                </span>
                <span class="text-danger" *ngIf="(FormRegEq.controls.EquipoRanking.touched || submitted) 
                       && FormRegEq.controls.EquipoRanking.errors?.pattern ">
                    Dato numerico
                </span>
			</div>
      
		</div>

	</fieldset>
      <!-- Botones Grabar, Cancelar/Volver' -->
    <div class="row justify-content-center">
        <button type="button" class="btn btn-primary" (click)="Grabar()">
            <span class="fas fa-check"></span> Grabar
        </button>
        &nbsp;
        <button type="button" class="btn btn-warning" (click)="Volver()">
            <span class="fas fa-undo"></span> Volver/Cancelar
        </button>
    </div>
     <!--texto: Revisar los datos ingresados...-->
	<div id="divMsjFormRegistro" *ngIf="submitted && FormRegEmp.invalid" class="row alert alert-danger">
		<span class="fas fa-exclamation-sign"></span>{{Mensajes['RD']}}
	</div>
</form>